* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

.ferie h2 {

    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 15,
        "SHLN" 50;
    font-size: 10rem;
}

.destinations {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    flex-grow: 1;
}

.spain {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px black;
    box-shadow: 5px 5px 15px rgb(134, 134, 134);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);

}

.spain img {
    width: 300px;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.spain h3 {
    display: none;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 2rem;
    text-align: start;
    margin-bottom: 20px;

}

.spain h4 {
    display: none;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 2rem;
    text-align: start;
    margin-bottom: 20px;


}

.spain p {
    display: none;
    font-family: "Poiret One", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    text-align: start;
    margin-top: 20px;
    flex-grow: 1;
}

.spain ul li {
    display: none;
    font-size: 1.5rem;
}

.spain a {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
}

/****** styling af places*****/
.places {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 0 auto;
}

.image img {
    margin-top: 50px;
    border-radius: 10px;
    width: 1200px;
    height: auto;
}

.text h2 {
    text-align: center;
    margin-top: 20px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    border-bottom: 2px solid pink;
    color: rgb(13, 155, 221);
}

.text h3 {
    text-align: start;
    margin-top: 20px;
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "ELSH" 0;
    font-size: 3rem;
}

.text h4 {
    text-align: start;
    margin-top: 20px;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 3.5rem;
}

.text p {
    text-align: start;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
}

.text ul {
    list-style-type: none;
    font-size: 2rem;
    margin-top: 20px;
}

.text a {
    font-size: 4rem;
}

.text svg {
    margin-left: 30px;
    width: 85px;
    height: 85px;
}